{% extends('backend/templateP.html') %}
    {% block script_or_stylesheet %}
    <script type="text/javascript" src="{{ static_url('kindeditor/kindeditor.js')}}"></script>
    <script type="text/javascript" src="{{ static_url('kindeditor/lang/zh_CN.js')}}"></script>
    <script>
        KindEditor.ready(function(K) {
                window.editor = K.create('#editor_id');
                });
    </script>
    {% endblock %}
		{% block content %}
        <!--Alert消息模块-->
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Hi,管理猿!</strong> 
        </div>
        <section id="dashboard" class="pure-g grid">
            <section id="main" class="pure-u-3-4">
                <!-- 模块名字 -->
                <header id="module-name">
					<a href="{{ site_url("backend/posts/page") }}/{{ category[0].id }}"><h1>{{ category[0].category }}</h1></a>
                </header>
                <!-- 模块内容 -->
                <article id="module-content">
					<form class="pure-form pure-form-aligned" method="post" action="{{ site_url('backend/posts/add_post') }}"/>
                    <div class="pure-control-group">
						<label for="title">标题</label>
						<input type="text" name="title" class="pure-u-1-2"/>
						<input type="checkbox" name="zhiding"/>置顶
                        <input type="checkbox" name="picture"/>图片文章?
						<input type="hidden" name="category_id" value="{{ category[0].id }}"/>
                    </div>
                    <div class="pure-control-group">
						<label for="content">内容</label>
						<textarea class="pure-u-1-2" id="editor_id" name="content" style="width: 700px;height:300px;"/></textarea>
		    		</div>

                    <div class="pure-controls">
						<button class="pure-button pure-button-primary" type="submit">提交</button>
                    </div>
				</form>
                </article>
            </section>
			{% endblock %}
