{% extends('backend/template.html') %}
				{% block header %}
                <header>
                    <h1>添加用户</h1>
                </header>
				{% endblock %}
				{% block form %}
				<form class="pure-form pure-form-aligned" method="post" action="{{ site_url('backend/user/add_u') }}">
                    <div class="pure-control-group">
						<label for="username">用户名</label>
						<input type="text" name="username" class="pure-u-1-2"/>
						<label for="pw">密码</label>
						<input type="password" name="pw" class="pure-u-1-2"/>
						<label for="conf_pw">重复密码</label>
						<input type="password" class="pure-u-1-2" name="conf_pw"/>
                    </div>
                    <div class="pure-controls">
						<button class="pure-button pure-button-primary" type="submit"/>修改</button>
                    </div>
				</form>
				{% endblock %}
