{% extends('backend/templateP.html') %}
	{% block content %}
        <section id="dashboard" class="pure-g grid">
            <section id="main" class="pure-u-3-4">
				<a href="{{ site_url("backend/posts/project_list") }}"><h1>项目展示</h1></a>
                </header>
                <!-- 模块内容 -->
                <article id="module-content">
					<form class="pure-form pure-form-aligned" method="post" action="{{ site_url('backend/posts/alter_pro') }}/{{ post.id }}"/>
                    <div class="pure-control-group">
						<label for="title">标题</label>
						<input type="text" class="pure-u-1-2" value="{{ post.title }}" name="title"/>
                    </div>
					<div class="pure-control-group">
					<label for="larger">大类</label>
					<select name="larger">
                    {% for category in post.larger %}
                        <option value="{{ category.id }}">{{ category.category }}</option>
					{% endfor %}
					</select>
					<label for="little">小类</label>
					<select name="little">
                    {% for category in post.little %}
                        <option value="{{ category.id }}">{{ category.category }}</option>
                    {% endfor %}
					</select>
				</div>

                    <div class="pure-control-group">
						<label for="content">简介</label>
						<textarea  name="intro" cols="60" rows="7"/>{{ post.intro }}</textarea>
						<label for="detail">详细介绍</label>
						<textarea  name="detail" cols="60" rows="7">{{ post.detail }}</textarea>
						<label for="award">获奖情况</label>
						<textarea name="award"cols="60" rows="7">{{ post.award }}</textarea>
						<label for="pict">图片链接</label>
						<div>
						{% for picture in post.src %}
						<p>
                        <label></label><input type="text" class="pure-u-1-2" name="src{{ picture.src_id }}" value="{{ picture.src }}"/>
						</p>
						{% endfor %}
					</div>
	    			</div>
                    <div class="pure-controls">
						<button class="pure-button pure-button-primary" type="submit">更新</button>
                    </div>
				</form>
			</article>
            </section>
			{% endblock %}
