{% extends('backend/templateP.html') %}
    {% block script_or_stylesheet %}
    <script src="{{ static_url('scripts/password.js') }}"></script>
    {% endblock %}
    {% block content %}
        <section id="dashboard" class="pure-g grid">
            <section id="main" class="pure-u-3-4">
                <!-- 模块名字 -->
                <header id="module-name">
                    <h1>管理猿 的信息</h1>
                </header>
                <!-- 模块内容 -->
                <article id="module-content">
                    <form class="pure-form pure-form-stacked" method="post" action="{{ site_url('backend/user/alter_pw') }}">
                        <div class="pure-control-group">
                            <label for="new_pw">新密码</label>
                            <input type="password" name="new_pw" id="new_pw"/>
                        </div>
                        <div class="pure-control-group">
                            <label for="conf_pw">重复密码</label>
                            <input type="password" name="conf_pw" id="conf_pw"/>
                        </div>
                        <div class="pure-control-group">
                            <label for="ord_pw">原密码</label>
                            <input type="password" name="ord_pw" />
                        </div>
                        <div class="pure-controls">
                            <button class="pure-button pure-button-primary" type="submit">修改密码</button>
                        </div>
                    </form>
                    <p id="validation" style="color: red;"></p>
                </article>
            </section>
    {% endblock %}
