<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>vinko</title>
    <!-- TODO 更换位置 -->
    <link rel="stylesheet" href="{{ static_url('styles/vendor/font-awesome/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ static_url('styles/vendor/pure-min.css') }}" />
    <link rel="stylesheet" href="{{ static_url('styles/style.css') }}" />
	{% block script_or_stylesheet %}
	{% endblock %}
</head>
<body>
    <section class="container">
        <header id="head" class="pure-g grid">
            <section id="logo" class="pure-u-1-6">
	    <a href="{{ site_url('backend/posts') }}">
                    <h1>挑战杯后台</h1>
                </a>
            </section>
            <section id="sub-nav" class="pure-u-7-12"></section>
            <nav class="pure-u-1-4" id="head-nav">
		<a href="{{ site_url('backend/user/logout') }}" class="item" href=""><i class="fa fa-sign-out"></i>注销</a>
		<a class="item" href="{{ site_url('backend/user/update_pw') }}"><i class="fa fa-user"></i>修改密码</a>
            </nav>
        </header>
		{% block content %}
		{% endblock %}
 <!-- 边栏 -->
            <nav id="side-nav" class="pure-u-1-4">
                <!-- 站点信息 -->
                <section id="site-infos">
                    <h3>挑战杯后台</h3>
                </section>
                <ul class="items">
					<li class="item"><a href="{{ site_url('backend/posts') }}"><i class="fa fa-file-text-o"></i>文章管理</a></li>
					<li class="item"><a href="{{ site_url('backend/user/add_user') }}"><i class="fa fa-file-text-o"></i>添加用户</a></li>
                    <li class="item"><a href="{{ site_url('backend/user/user_list') }}"><i class="fa fa-file-text-o"></i>用户列表</a></li>
					<li class="item"><a href="{{ site_url('backend/posts/show_project_categories') }}"><i class="fa fa-file-text-o"></i>修改项目展示大小类</a></li>
                </ul>
            </nav>
        </section>
        <footer id="copyleft" class="grid-clean">
            <p>&copy; 2013 <a href="#">挑战杯</a> • Made by <a href="#">VTM</a> with ♥ </p>
        </footer>
    </section>
</body>
<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
<script src="{{ static_url('scripts/vinko.js') }}"></script>
<script src="{{ static_url('scripts/set.js') }}></script>
</html>
