{% extends('backend/templateP.html') %}
		{% block content %}
        <section id="dashboard" class="pure-g grid">
            <section id="main" class="pure-u-3-4">
                <article id="module-content">
                    <div class="inner pure-g">
                        <div id="module-meta" class="pure-u-2-3">
							<p>一共有 {{ count }} 个用户</p>
                        </div>
                        <section id="module-op" class="pure-u-1-3">
							<a class="pure-button pure-button-success pull-right" href="{{ site_url("") }}">hello~</a>
                        </section>
                    </div>
                    <table class="list pure-table pure-table-horizontal">
                        <thead>
                            <tr>
                                <th class="larger">编号</th>
                                <th>用户名</th>
                            </tr>
                        </thead>
                        <tbody>
						{% for user in username %}
                            <tr>
                                <td>
									<a href="">{{ user.uid }}</a>
                                </td>
								<td>{{ user.username }}</td>
                                <td>
                                </td>
			    </tr>
				{% endfor %}
                        </tbody>
                    </table>
                </article>
            </section>
			{% endblock %}
