{% extends('template.html') %}

{% block stylesheet_or_script %}
    <link href="{{ static_url('styles/example.css') }}" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
    <div id="content">
        <p class="position">
            您现在的位置：
            <a href="">首页</a>
            <span>&gt;&gt;</span>
			<a href="{{ site_url("pro_list") }}">项目展示</a>
            <span>&gt;&gt;</span>
            <a  class="red" href="">优秀案例</a>
        </p>
        <div class="exa_left">
            <p class="exa_h">基本信息</p>
            <div class="name">
                <h4>作品名称:</h4>
		<p>{{ post.title }}</p>
            </div>
             <div class="b_str">
                <h4>大类:</h4>
		<p>{{ post.larger }}</p>
            </div>
             <div class="s_str">
                <h4>小类:</h4>
		<p>{{ post.little }}</p>
            </div>
             <div class="brief">
                <h4>简介:</h4>
		<p>{{ post.intro }}</p>
            </div>
             <div class="detail">
                <h4>详细介绍:</h4>
		<p>{{ post.detail }}</p>
            </div>
             <div class="prize">
                <h4>获奖情况:</h4>
		<p>{{ post.award }}</p>
            </div>
        </div>
        <div class="exa_right">
            <p class="exa_p">作品图片</p>
            <ul>
				{% for photo in post.src %}
				{% autoescape false %}
				<li><img src="{{ photo.src }}"></li>
				{% endautoescape  %}
				{% endfor %}
            </ul>
        </div>     
    </div>    
	{% endblock %}
