{% extends('template.html') %}
{% block stylesheet_or_script %}
    <link href="{{ static_url('styles/inform.css') }}" rel="stylesheet" media="screen">
{% endblock %}
{% block content %}
	{% include('url.html') %}
       <div class="left_inform">
            <div></div>
            <ul class="same">
				{% for post in result %}
                <li>
				<a href="{{ site_url("p") }}/{{ category.id }}/{{ post.id }}">{{ post.title }}</a>
				<span class="date">[{{ post.date }}]</span>
                </li>
				{% endfor %}
            </ul>
            <div class="left_footer">
                <ul >
					{% autoescape false %}
					{{ pagination() }}
					{% endautoescape %}
                </ul>
            </div>    
       </div>         
       <div class="right_inform">
             <div class="title">
                    <span></span><p>项目展示</p><a href="">more&gt;&gt;</a>
             </div>
			 {% for post in project %}
             <div class="paper">
				 <a href="{{ site_url("pro") }}/{{ post.id }}">{% autoescape false %}<img src="{{ post.src }}">{% endautoescape %}</a>
				 <p>{{ post.title }}</p>
             </div>
			 {% endfor %}
       </div>

    </div>
{% endblock %}
