{% extends('template.html') %}

{% block stylesheet_or_script %}
    <link href="{{ static_url('styles/news.css') }}" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
	{% include('url.html') %}
       <div class="left_news">
            <div>
                <div class="title">
		<span></span><p>活动快讯</p><a href="{{  site_url('list/6') }}">more&gt;&gt;</a>
                </div>
                <ul class="same">
					{% for post in kuaixun %}
					<li><a href="{{  site_url("p") }}/{{ post.category_id }}/{{ post.id }}">{{  post.title }}</a></li>
					{% endfor %}
                </ul>
            </div>
            <div>
                <div class="title">
		<span></span><p>媒体聚焦</p><a href="{{  site_url('list/4') }}">more&gt;&gt;</a>
                </div>
                <ul class="same">
					{% for post in medium %}
					<li><a href="{{  site_url("p") }}/{{ post.category_id }}/{{ post.id }}">{{  post.title }}</a></li>
					{% endfor %}
                </ul>
            </div>    
            <div class="news_contest">
                <div class="title">
		<span></span><p>竞赛花絮</p><a href="{{  site_url('list/5') }}">more&gt;&gt;</a>
                </div>
                <ul class="same">
					{% for post in competition %}
					<li><a href="{{  site_url("p") }}/{{ post.category_id }}/{{ post.id }}">{{  post.title }}</a></li>
					{% endfor %}
                </ul>
            </div> 
            <div class="news_active">
                <div class="title">
		<span></span><p>通知公告</p><a href="{{  site_url('list/2') }}">more&gt;&gt;</a>
                </div>
		<ul class="same">
			{% for post in inform %}
			<li><a href="{{  site_url("p") }}/{{ post.category_id }}/{{ post.id }}">{{  post.title }}</a></li>
			{% endfor %}
		</ul>
            </div>           
        </div>
        <div class="right_news">
             <div class="title">
	     <span></span><p>挑战特刊</p><a href="{{  site_url('special') }}">more&gt;&gt;</a>
             </div>
             <div class="paper">
                <a href="http://xbw.gdut.edu.cn/digitalnews/Content.aspx?id=9902">
                    <img src="{{  static_url('images/news.jpg') }}">
                </a>
                <p>广东工业大学挑战杯特刊1</p>
             </div>
             <div class="paper">
                 <a href="http://xbw.gdut.edu.cn/digitalnews/Content.aspx?id=9976">
                    <img src="{{  static_url('images/news.jpg') }}">
                </a>
                <p>广东工业大学挑战杯特刊2</p>
             </div>
                
        </div>

    </div>
{% endblock %}
