{% extends('template.html') %}
{% block stylesheet_or_script %}
    <link href="{{ static_url('styles/project.css') }}" rel="stylesheet" media="screen">
{% endblock %}
{% block content %}
    <div id="content">
       <p class="position">
            您现在的位置：
            <a href="">首页</a>
            <span>&gt;&gt;</span>
            <a href="">项目展示</a>
       </p>
        <p class="pro_h">优秀作品展示</p>
		{% for project in result %}
        <div class="pro">
			{% autoescape false %}
			<img src={{ project.src }}>
			{% endautoescape %}
	    <div>
			<a href="{{ site_url("pro") }}/{{ project.id }}">
				<h4>{{ project.title }}</h4>
		</a>
		<a href="{{ site_url("pro") }}/{{ project.id }}">
			<p>{{ project.intro }}</p>
		</a>
	    </div>
        </div>
		{% endfor %}
            <div class="left_footer">
                <ul >
					{% autoescape false %}
					{{ pagination() }}
					{% endautoescape %}
                </ul>
            </div>    
	</div>
    </div>
{% endblock %}
{% block script %}
    <script src="{{ static_url('scripts/text_overflow.js') }}"></script>
    <script src="{{ static_url('scripts/nav.js') }}"></script>
{% endblock %}

