{% extends('template.html') %}
{% block stylesheet_or_script %}
    <link href="{{ static_url('styles/special.css') }}" rel="stylesheet" media="screen">
{% endblock %}
{% block content %}
    <div id="content">
       <p class="position">
            您现在的位置：
            <a href="">首页 </a>
            <span>&gt;&gt;</span>
            <a class="red" href="">挑战特刊</a>
       </p>
	   {% include('left.html') %}
       <div class="middle_special">
            <div></div>
	    <a href="http://xbw.gdut.edu.cn/digitalnews/Content.aspx?id=9902">
			<img src="{{ static_url('images/news.jpg') }}">           
            </a>    
             <a href="http://xbw.gdut.edu.cn/digitalnews/Content.aspx?id=9976">
				 <img src="{{ static_url('images/news.jpg') }}">        
            </a>   
       </div>
       <div class="right_special">
             <div class="title">
				 <span></span><p>项目展示</p><a href="{{ site_url('pro_list') }}">more&gt;&gt;</a>
             </div>
			 {% for project in projects %}
             <div class="paper">
				 <a href="{{ site_url("pro") }}/{{ project.id }}">
					 <img src="{{ project.src }}">
                </a>
				<p>{{ project.title }}</p>
			</div>
			{% endfor %}
       </div>
    </div>
{% endblock %}
